spring:

  data:
    web:
      pageable:
        #한계)
        #Page 정보에 pageable.pageNumber, number 가 0부터 시작하기 때문에
        #request로 온 page와 -1씩 차이가 난다.
        one-indexed-parameters: true

  config:
    import: DB.properties

  jpa:
    hibernate:
      #ddl-auto: create
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug
