<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css"  rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>간단한 게시판</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='boardCreate.html'"
                    th:onclick="|location.href='@{/board/create}'|"
                    type="button">게시글 작성</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>내용</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${pageList}">
                <td th:text="${post.id}">1</td>
                <td><a href="boardRead.html" th:href="@{/board/read/{id}(id=${post.id},page=${pageDTO.nowPage})}" th:text="${post.title}">제목입니다.</a></td>
                <td th:text="${post.content}">내용입니다.</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--페이징-->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${pageDTO.hasPre}?_:'disabled'">
                    <a class="page-link" th:href="@{/board(page=${pageDTO.nowPage-1})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <th:block th:each="i : ${#numbers.sequence(pageDTO.startPage,pageDTO.endPage)}">
                    <li class="page-item" th:classappend="${i==pageDTO.nowPage}?'active':_" >
                        <a class="page-link" th:href="@{/board(page=${i})}" th:text="${i}">1</a>
                    </li>
                </th:block>

                <li class="page-item" th:classappend="${pageDTO.hasNext}?_:'disabled'">
                    <a class="page-link" th:href="@{/board(page=${pageDTO.nowPage+1})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

</div> <!-- /container -->

</body>
</html>
