<!DOCTYPE html>
<html th:replace="~{layouts/mainLayout :: mainContent( ~{::main})}" xmlns:th="http://www.thymeleaf.org">

<main>
  <div class="container">

    <h2 class="text-center mb-5">공지사항</h2>

    <div class="d-flex justify-content-between align-items-center p-2 mb-2 border rounded bg-body-tertiary">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">
          <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z"/>
        </svg>
        최신순
      </div>

      <a class="btn btn-primary" href="/new-test">
        작성하기
      </a>
    </div>

    <!-- 본문 내용 -->
    <ul class="list-group list-group-flush mb-5">
      <li class="list-group-item border-top ">
        <a href="/article" class="text-decoration-none d-flex">
          <div class="flex-grow-1 d-flex flex-column">
            <h4 class="flex-grow-1 text-body">제에에에에에에에에에에에목</h4>
            <p class="text-muted m-0">3일전 · 나이키슈즈</p>
            <p class="text-muted m-0">추천 233 · 댓글 7 · 조회 4,000</p>
          </div>
          <div>
            <img src="/thumbnail/temp-thumbnail.jpg" class="rounded-4" alt="thumbnail" style="width: 120px; height: 90px; object-fit: cover;">
          </div>
        </a>
      </li>
    </ul>

    <!-- 페이지 버튼 -->
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">

        <li class="page-item">
          <a class="page-link disabled" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>

        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>

      </ul>
    </nav>

  </div>

</main>

</html>