<header class="border-bottom shadow-sm" th:fragment="header">
  <nav class="navbar navbar-expand-lg">
    <div class="container-lg">

      <a class="navbar-brand" href="/">
        <img th:src="@{/logo/logo.png}" width="130px" alt="Logo" class="d-inline-block align-text-top">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">홍길동님</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/BEST">BEST</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/커뮤니티">커뮤니티</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Q&A">Q&A</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/공지사항">공지사항</a>
            </li>
          </ul>

          <form class="d-flex me-2" role="search">
            <div class="input-group">
              <input type="search" class="form-control" placeholder="제목검색" aria-label="search"
                     aria-describedby="search-button">
              <button class="btn btn-outline-secondary" type="button" id="search-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0">
                  </path>
                </svg>
              </button>
            </div>
          </form>

          <a class="btn btn-primary me-2 d-none d-lg-block" href="/login">로그인</a>
          <a class="btn btn-outline-primary d-none d-lg-block" href="/join">회원가입</a>

        </div>
      </div>
    </div>
  </nav>
</header>